{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["next/core-web-vitals", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "react/jsx-sort-props": "error",
    "sort-keys": ["error", "asc", { "natural": true }]
  }
}
